/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

.menu{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

blockquote{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
background:#efefef url(css/img/grid.png) repeat center top;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
	max-width: 1024px;
	min-width: 875px;
	background: #C7CACE;
	margin: 15px auto 30px auto;
	padding: 0;
	border: 1px solid #CCC;
	box-shadow: 0 0 10px #BEE5FF,0 0 10px #B4B4B4 inset;
	border-radius: 8px;
}

.menu{
	border-radius: 6px 6px 0 0;
	margin:-1px -1px 0 -1px;
}
.menu li a {
	border-radius: 6px 6px 0 0;
}
.menu ul {
	border-radius: 0 0 6px 6px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;

}

#footer{
	text-align:center;
	padding:20px;
	margin:0;
	background:#efefef;
	border-top:1px solid #ccc;
	color:#999;
	font-size:0.8em;
	text-shadow:0px 1px 1px #fff;
	position: relative;
	top:0;
	left:0;
}

#link-top{
	position: absolute;
	top:10px;
	right:10px;
	*right:25px;/*IE 7 ONLY*/
	left:auto;
	color:#666;
	text-decoration:none;
	display: inline-block;
	padding:5px 10px;
	background:#e5e5e5;
	line-height:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
.f_right {
	float: right;
}
.blacka , .blacka:hover ,.blacka:visited {
	color: black;
	text-decoration: none;
}
.left_box {
	border: 1px solid #B6B6B6;
	margin-bottom: 14px;
	padding-top: 1px !important;
	border-radius: 4px;
	box-shadow: 0 0 7px #F4FBFF inset,0 0 6px #A3B3BB;
	outline: none;
	background: white;
}
table td.avatar {
	width: 48px;
	height: 48px;
	padding-right: 0;
	line-height: 0;
}
table td.content a:hover {
	text-shadow: 0 0 10px #18B7E9;
}
table td.content div.info {
	padding-bottom: 10px;
	line-height: 7px;
}
table td.reply-count {
	text-align: right;
}
table td.reply-count a {
	color: white;
	background-color: #4199C2;
	padding: 2px 9px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0 0 10px #DAF3FF;
}
table td.reply-count a:hover {
	background-color: #257AA2;
	box-shadow: 0 0 10px #3780A3;
}
.info span.tag a {
	margin: 0 5px 0 0;
	color: #EAFAFF;
	background-color: #AABFC9;
	padding: 2px 9px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0 0 10px #DAF3FF;
}
.info span.tag a:hover {
	background-color: #2E9473;
	box-shadow: 0 0 10px #95CA25;
}
.listavatar {
	height: 48px;
	width: 48px;
	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
}
.index_flash {
	box-shadow: 0 0 7px #F4FBFF inset,0 0 6px #A3B3BB;
	margin: 10px 18px 0 18px;
}
.left_avatar {
	border: 1px solid #DDD;
	padding: 3px;
	background-color: white;
	margin-left: -3px;
	margin-top: -3px;
	margin-bottom: -3px;
	margin: 9px 10px 5px 0 !important;
}

.show_avatar {
	border: 1px solid #DDD;
	padding: 3px;
	background-color: white;
}
#show_warp {
	margin: 20px;
	min-width: 450px;
	min-height: 200px;
}

/*wmd*/
.wmd-button-bar {
	width: 100%;
	background-color: Silver; 
}
.wmd-input {
	height: 150px;
	width: 99%;
	border: 0;
}
#wmd-preview { 
	word-wrap: break-word;
}
.wmd-button-row {
	position: relative;
	margin-left: 5px;
	margin-bottom: 13px;
	padding: 0px;
	height: 20px;
}
.wmd-spacer{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/wmd/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1{
    left: 50px;
}
.wmd-spacer2{
    left: 175px;
}
.wmd-spacer3{
    left: 300px;
}
#wmd-preview {
	padding-top: 10px !important;
}
.wmd-prompt-background{
	background-color: Black;
}

.wmd-prompt-dialog{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}
.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
.tags-container
{
	padding: 1px;
	margin: 0;
	cursor: text;
	display: block;
}

.tags-container input
{
    border: none;
    padding: .2em 0;
}

.tags-container input:focus
{
    outline: none;
}

.tags-container span.tag {
	background: #E5EAEB;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	border-radius: 2px;
	margin: 0 .4em .4em 0;
	padding: 0 .2em 0 .4em;
	display: block;
	display: inline-block;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 6px #ccc;
	-webkit-box-shadow: inset 0px 1px 6px #CCC;
	box-shadow: inset 0px 1px 6px #CCC;
}

.tags-container span a
{
	border-radius: 2px;
	padding: 0 .4em;
	color: #CCC;
	margin-left: .4em;
	font-family: arail;
	text-decoration: none;
}

.tags-container span a:hover
{
    color: #D8001A;
}

.tags-container span a:active
{
    color: #D8001A;
}
.darkgray {
color: #666;
}
.view_title {
	border-bottom: 1px solid #DDD;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
pre  code {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-size: 0.9em;
	border: none;
	padding: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #518BAB;
}
.reply_box {
	padding: 10px;
	margin: 0px 84px 15px 4px;
	border: 2px #E7E7E7 solid;
	border-radius: 8px;
	box-shadow: 0 0 10px #DBDBDB ,0 0 4px #E5F6FF inset;
}
.reply_box .info {
	text-align: right;
	font-size: 12px;
	line-height: 27px;
	color: #8D8D8D;
}
.reply_box .info a {
	text-decoration: none;
	color: #8F8F8F;
}
.reply_avatar {
	float: right;
	position: absolute;
	right: 154px;
}
.reply_avatar img {
	top: -26px;
	border-radius: 8px;
	box-shadow: 0 0 10px #DBDBDB ,0 0 4px #E5F6FF inset;
}
.pagination {
	text-align: right;
	margin: 5px;
}
.pagination span {
	font-size: 10px;
	border-radius: 3px;
	margin: 2px;
	padding: 3px;
	background: #EDFBFF;
	box-shadow: 0 0 10px #CACACA;
}
.pagination span:hover{
	font-size: 10px;
	border-radius: 3px;
	margin: 2px;
	padding: 3px;
	background: #FAEBBC;
	box-shadow: 0 0 10px ##57D8FD;
}
.pagination a{
	text-decoration: none;
	color: #FFA08E;
}
