@charset "utf-8";
/* CSS Document */
/* 总样式 */
@font-face {
  font-family: 'Icon';
  src: url('/font/foundation-icons-general.eot');
  src: url('/font/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       url('/font/foundation-icons-general.woff') format('woff'),
       url('/font/foundation-icons-general.ttf') format('truetype'),
       url('/font/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}
icon {
	font-family: "Icon" ;
}
html, body {
	margin:0;
	padding:0;
	font:12px/1.125 "微软雅黑","Segou UI";
	color:#333;
	background:#4CD0FA;
}
.left {
	float:left;
}
.right {
	float:right
}
.backbox {
	padding:3px;
	background:#FFF;
	color:#0CF;
}
.backbox:hover {
	background: #1C8897;
}
.clear {
	clear:both;
}
.block_title {
	font-size: 36px;
	position: relative;
	left: 46px;
	top: 15px;
}
.userbox {
	right: 30px;
	top: 0px;
	position: fixed;
}
/* 头部 */
.navi {	
	list-style:none;
	margin-top:78px;
	font-size:18px
}
.navi li {
	margin-right:15px;
	float:left
}
.titletext {
	color:#FFF;
	font-size:48px;
	padding-left:45px;
	line-height:60px;
}
.titletext span{
	background:#FFF;
	font-size:48px;
	color:#0CF;
	line-height:60px;
}
.user_icon {
	padding:5px;
	padding-left:20px;
	padding-right:88px;
	right: 30px;
	position: relative;
	top: 52px;
	height: 60px;
	background:#FFF;
	min-width:80px;
	color:#0CF;

}
.user_gravatar {
	position: absolute;
	float:right;
	right:12px;
	top:10px;
}
/*main*/
.topiclist {
	position: relative;
	background: white;
	min-height: 100px;
	left: 6%;
	top: -37px;
	width: 70%;
	padding-bottom: 40px;
}
.topiclist .block_title {
	color:#4CD0FA
}
.topicbox {
	height: 60px;
	margin: 15px 20px 0 90px;
	background: white;
}
.topic_link {
	text-decoration: none;
	font-size: 28px;
	position: relative;
	top: -8px;
	color: #1F1F6B;
}
.topic_link span{
	color: #777;
}
.topic_gravatar {
	height:48px;
	width:48px;
}
.topic_reply_unm {
	font-size: 66px;
	text-decoration: none;
	color: rgba(18, 182, 189, 0.47);
}
.topic_time {
	position: relative;
	top: 10px;
	right: -5px;
}

