@charset "utf-8";
/* CSS Document */
/* 总样式 */
@font-face {
  font-family: 'Icon';
  src: url('/font/foundation-icons-general.eot');
  src: url('/font/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       url('/font/foundation-icons-general.woff') format('woff'),
       url('/font/foundation-icons-general.ttf') format('truetype'),
       url('/font/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}
icon {
	font-family: "Icon" ;
}
html, body {
	min-width: 1024px;
	margin:0;
	padding:0;
	font:12px/1.125 "微软雅黑","Segou UI";
	color:#333;
	background:#FFF;
}
.left {
	float:left;
}
.right {
	float:right
}
.backbox {
	padding:3px;
}
.backbox:hover {
	background: #00D6FF;
}
.clear {
	clear:both;
}
.block_title {
	font-size: 36px;
	position: relative;
	left: 46px;
	top: 15px;
}
.userbox {
	top: 0px;
	position: fixed;
}
/*Posty*/
#dark {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 500;
}
.CTbox {
	box-shadow: 0 0 100px white;
	height: 640px;
	width: 1024px;
	position: relative;
	background: white;
	margin: auto auto auto auto;
	z-index: 501;

}
#CT_title {
	padding-left: 30px;
	font-size: 28px;
	color: white;
	background: #474747;
	border: none;
	margin: 0 0 0 0;
	width: 994px;
	height: 48px;
}
.CTbox #epiceditor {
	height: 400px;
}
.CT_btn_helper {
	margin-top: 30px;
	float: right;
}
.CT_btn_helper a {
	box-shadow: 0 0 7px #04527E;
	margin-right: 20px;
	font-size: 28px;
	color: #ECFFFF !important;
	background: #66ADAD;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}
.CT_btn_helper a:hover {
	background: #4EA2E4;
}
.CTbox a {
	text-decoration: none;
	color: #005FC5;
}
/* 头部 */
.navi {	
	position: relative;
	list-style: none;
	font-size: 18px;
	top: -10px;
	left: -18px;
}
.navi li {
	margin-right:15px;
	float:left
}
.titletext {
	position: relative;
	top: -23px;
	color:#FFF;
	font-size: 26px;
	line-height:26px;
}
.titletext span{
	font-size:26px;
	color:#F3FC8B;
	line-height:26px;
}
.user_icon {
	box-shadow: 0 0 14px #008FFF;
	padding: 5px;
	padding-left: 20px;
	padding-right: 88px;
	position: fixed;
	height: 33px;
	background: #0089BE;
	width: 100%;
	color: white;
	z-index: 400;
}
.user_gravatar {
	position: relative;
	box-shadow: 9px 0 65px whiteSmoke;
	float: right;
	right: 26px;
}
.userbox h3 {
	position: relative;
	float: right;
	top: -6px;
	right: 30px;
}
.userbox a {
	color:#FFF;
}
#l_my_info {
	margin-right: 2px;
	text-decoration: none;
	padding: 15px 20px 15px 20px;
}
#l_my_info:hover {
	background: #A0D613;
}
.user_act {
	box-shadow: 0 0 10px #A0D613;
	padding-top: 4px;
	padding-bottom: 13px;
	border-radius: 0 0 5px 5px;
	float: right;
	width: 90px;
	background: #A0D613;
	position: fixed;
	top: 31px;
	right: 44px;
}
.user_act li {
	padding-left: 82px;
	width: 48px;
	font-size: 15px;
	line-height: 24px;
	list-style: none;
	float: right;
}
.user_act li  a {
	color: white;
	text-decoration: none;

}
.user_act li:hover {
	background: #123456;
}
/*main*/
.topiclist {
	padding-top: 20px;
	position: relative;
	background: white;
	min-height: 100px;
	left: 6%;
	width: 88%;
	padding-bottom: 40px;
}
.topiclist .block_title {
	color:#4CD0FA
}
.topicbox {
	height: 60px;
	margin: 15px 20px 0 90px;
	background: white;
}
.topicbox ul {
	list-style: none;
	top: -63px;
	position: relative;
	left: 20px;
}
.topic_link {
	text-decoration: none;
	font-size: 28px;
	color: #1F1F6B;
}
.topic_link span{
	color: #777;
}
.topic_gravatar {
	height:48px;
	width:48px;
}
.topic_reply_unm {
	margin-left: 5px;
	padding-right: 5px;
	padding-left: 5px;
	background: #D1EBEE;
	line-height: 0;
	font-size: 18px;
	text-decoration: none;
	color: #60C5B9;
}
/*node page*/
.nodelist {
	font-size: 20px;
	margin-left: 10%;
	color: #1DA2B4;
}
.nodelist span {
	font-size: 34px;
	color: #E25D5D;
}
 /*LR*/
 .LR_input {
	margin-right: 13px;
	box-shadow: 0 0 10px #004B03;
	padding-left: 30px;
	margin-left: 30px;
	font-size: 28px;
	color: white;
	background: #474747;
	border: none;
	width: 556px;
	height: 48px;
}
.LR_re_login {
	height: 320px !important;
}
.LR_re_reg {
	height: 442px !important;
}