@charset "utf-8";
/* CSS Document */
/* 总样式 */
html, body {
	margin:0;
	padding:0;
	font:12px/1.125 "微软雅黑",Arial, Helvetica, sans-serif;
	color:#333;
	background:#4CD0FA;
}
.left {
	float:left;
}
.right {
	float:right
}
.backbox {
	padding:3px;
	background:#FFF;
	color:#0CF;
}
.backbox:hover {
	background: ##1C8897;
}

/* 头部 */
.navi {	
	list-style:none;
	margin-top:78px;
	font-size:18px
}
.navi li {
	margin-right:15px;
	float:left
}
.titletext {
	color:#FFF;
	font-size:48px;
	padding-left:45px;
	line-height:60px;
}
.titletext span{
	background:#FFF;
	font-size:48px;
	color:#0CF;
	padding-left:45px;
	line-height:60px;
}
.user_icon {
	padding:5px;
	padding-left:20px;
	padding-right:88px;
	right: 30px;
	position: relative;
	top: 52px;
	height: 60px;
	background:#FFF;
	min-width:80px;
	color:#0CF;

}
.user_gravatar {
	position: absolute;
	float:right;
	right:12px;
	top:10px;
}
/*main*/
.topiclist {
	position: relative;
	background: white;
	min-height: 100px;
	min-width: 30px;
	top: 177px;
	left: 95px;
}