<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title><%=@title %></title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<div id="main">
  <div class="head">
    <p class="titletext left"><%=@name %>::Index</p>
    <ul class="navi left">
      <li><a class="backbox">Index</a></li>
      <li><a class="backbox">Nodes</a></li>
    </ul>
  </div>
  <div class="userbox right">

  <div class="user_icon" >
  <img class="user_gravatar" src="http://gravatar.com/avatar/7c2fe4b.png?r=G&s=48">
  <p class="left"><h3>Hello,用户名</h3></p></div>
  </div>
  <div class="topiclist">
  </div>
</div>
<body>
</body>
</html>
