<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title><%=@title %></title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="./assets/css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!--<script type="text/javascript" src="./assets/js/jquery.min.js"></script>-->
<script type="text/javascript">
$(document).ready(function(){
$(".topiclist").append('<div class="topicbox"><img class="topic_gravatar" src="http://gravatar.com/avatar/7c2fe4b.png?r=G&amp;s=48"><a href="javascript:;" class="topic_link"><span>people:</span>帖子标题</a><a href="javascript:;" class="topic_reply_unm right">0</a><a class="topic_time right"><icon>m</icon>节点名<icon>7</icon>2012-7-28 14:00<icon>-</icon>XX回复于2012-7-28 14:00</a></div>')
});
</script>
</head>
<div id="main">
  <div class="head">
    <p class="titletext left"><%=@name %><span>::Index</span></p>
    <ul class="navi left">
      <li><a id="navi_index" class="backbox">Index</a></li>
      <li><a id="navi_node" class="backbox">Nodes</a></li>
    </ul>
  </div>
  <div class="userbox right">

  <div class="user_icon" >
  <img class="user_gravatar" src="http://gravatar.com/avatar/7c2fe4b.png?r=G&s=48">
  <p class="left"><h3>Hello,用户名</h3></p></div>
  </div>
  <div class="clear"></div>
  <div class="topiclist">
    <p class="block_title">Latest Topics</p>
  </div>
</div>
<body>
</body>
</html>
