
<%=@at_data %>

<p class="block_title">Latest Topics</p>
<div class="topicbox"><img class="topic_gravatar" src="http://gravatar.com/avatar/7c2fe4b.png?r=G&amp;s=48"><ul><li><a class="topic_time"><icon>m</icon>节点名 <icon>7</icon>2012-7-28 14:00 <icon>-</icon>XX回复于2012-7-28 14:00</a></li><li><a href="javascript:;" class="topic_link"><span>people:</span>帖子标题</a><a href="javascript:;" class="topic_reply_unm">0</a></li></ul><div class="clear"></div></div>