<% if @msg == 1 %>
<div class="user_icon">
  <p class="titletext left">Meence<span>::Forum</span></p>
      <ul class="navi left">
      <li><a id="navi_index" class="backbox">::Topics</a></li>
      <li><a id="navi_node" class="backbox">::Nodes</a></li>
    </ul>
  <img class="user_gravatar" src="http://gravatar.com/avatar/<%= @info["mail"] %>?r=G&amp;s=32">
  <h3><a id="l_my_info" href="javascript:u_act_open();"><%= @info["name"] %></a></h3>
  <ul class="user_act" style="display:none;">
    <li onclick="node_set_post()">发帖</li>
    <li onclick="new_LRbox()">设置</li>
    <li onclick="logout()">退出</li>
  </ul>
</div>
<% end %>
<% if @msg == 0%>
<div class="user_icon">
  <p class="titletext left">Meence<span>::Forum</span></p>
      <ul class="navi left">
      <li><a id="navi_index" class="backbox">::Topics</a></li>
      <li><a id="navi_node" class="backbox">::Nodes</a></li>
    </ul>
  <img class="user_gravatar" src="http://gravatar.com/avatar/7c2fe4b.png?r=G&amp;s=32">
  <h3><a id="l_loginbox" href="javascript:new_LRbox();">点击此处登录或注册</a></h3>
</div>
<% end %>