<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Meence论坛</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<div id="main">
  <div class="head">
    <p class="titletext left">Meence</p>
    <ul class="navi left">
      <li><a class="backbox">首页</a></li>
      <li><a class="backbox">节点</a></li>
    </ul>
  </div>
  <div class="userbox right">

  <div class="user_icon" >
  <img class="user_gravatar" src="http://gravatar.com/avatar/7c2fe4b.png?r=G&s=48">
  <p class="left"><h3>Hello,用户名</h3></p></div>
  </div>
  <p style="color:#FFF;left:200px;top:500px;font-size:36px;">Coming Soon!</p>
  <div class="topiclist">
  </div>
</div>
<body>
</body>
</html>
