<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Install Mforum Leader</title>
	</head>
	<body>
		<h1>Install Mforum V2 (Codename : Leader)</h1>
		<form id="form1" name="form1" method="post" action="/install">
			<p>
				<label for="sitename"></label>
				Sitename :
				<input type="text" name="sitename" id="sitename" />
			</p>
			<p> Sitename(Will show in the Navi Bar And Title) :
				<input type="text" name="naviname" id="naviname" />
			</p>
			<p> Admin Username :
				<input type="text" name="adminuser" id="adminuser" />
			</p>
			<p> Admin Password :
				<input type="password" name="adminpass" id="adminpass" />
			</p>
			<p>Admin Mail :
				<input type="text" name="adminmail" id="adminmail" />
			</p>
			<p>
				<input type="submit" name="button" id="button" value="提交" />
			</p>
		</form>
	</body>
</html>