javascript:
	$(document).ready(function(){
		$(".signup").keyup(function(){CreatUser();});
	});
h4=i18n.user.form.signup

form.vertical name="register" action="/signup" method="post"
  lable=i18n.user.form.username 
  input.signup#R_user name="user[name]" type="text"  value=(params[:name]) placeholder=(i18n.user.form.username_l) 
  lable=i18n.user.form.email
  input.signup#R_mail name="user[email]" type="text"  value=(params[:email]) placeholder=(i18n.user.form.email_l) 
  lable=i18n.user.form.password
  input.signup#R_pass name="user[password]"  type="password"  placeholder=(i18n.user.form.password_l)
  lable=i18n.user.form.password_r
  input.signup#R_repass name="user[password_confirmation]" type="password"
  button.red#R_input type="submit" disabled="" 
    =i18n.user.form.btn
